
<div class="w3-content w3-display-container">
    <h3 class="centered">Welcome Foodies</h3>
    <p class="centeredp">Welcome to our foodie website, where we celebrate the joy of good food and the pleasures of dining. Our homepage is a feast for the eyes, with vibrant images of delicious dishes, inviting aromas, and the warmth of a convivial atmosphere. Whether you're a seasoned foodie or just starting to explore the culinary world, you'll find plenty to whet your appetite here.</p>
  <img class="mySlides" src="/assets/home.jpg" style="width: 96.2%;" >
</div>

